<form [formGroup]="form" (ngSubmit)="create()">



    <mat-toolbar class="title">
        <button mat-icon-button class="textColor" type="button" (click)="cancel()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>PEDIDO</span>
        <div class="item-spacer"></div>
        <button type="submit" class="btnPrimary" [disabled]="loading" style="height:80%; margin-top: 10px;"
            mat-raised-button>
            <mat-icon class="icon-size">save</mat-icon>GUARDAR
        </button>
    </mat-toolbar> <br>

    <div class="secondary">
        <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>

    </div>
    <div class="container">
        <mat-card class="colorSecondary card" *ngIf="!error && !loading">

            <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
                <mat-card-header class="primary" style="padding:10px">
                    <mat-icon style="font-size:20px">widgets</mat-icon>
                    <span>
                        PRODUCTOS
                    </span>
                </mat-card-header>
                <mat-grid-list cols="12" rowHeight="80px">
                    <mat-grid-tile [colspan]="colBig" [rowspan]="1">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>COMENTARIOS</mat-label>
                            <textarea matInput formControlName="comments" rows="1"></textarea>
                            <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="colBig" [rowspan]="1">
                        <div class="item-spacer"></div>
                        <button type="button" (click)="openCatalogDepartures()" class="btnPrimary"
                            style="height:80%; margin: 10px; " mat-raised-button>
                            <mat-icon class="icon-size">library_books</mat-icon>VER SALIDADS
                        </button>
                    </mat-grid-tile>

                </mat-grid-list>

                <div class="table-container" style=" width:99%; margin: 0 auto; ">
                    <div class="overlay-loading" *ngIf="loading">
                        <div class="spinner-wrapper">

                            <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataProductsOrders" matSort>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProductsOrders; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProductsOrders;"></tr>




                        <ng-container matColumnDef="code">
                            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="code">
                                CODIGO</th>
                            <td mat-cell *matCellDef="let item" style="width:20%">
                                {{item.code}}</td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="description">
                                DESCRIPCIÓN</th>
                            <td mat-cell *matCellDef="let item" style="width:30%">
                                {{item.description}}</td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="amount">
                                CANTIDAD EN PEDIDO</th>
                            <td mat-cell *matCellDef="let item; let i = index;" style="width:20%">
                                {{item.amount}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount_departure">
                            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="amount_departure">
                                ENTREGADO</th>
                            <td mat-cell *matCellDef="let item;let i = index;" style="width:10%">
                                {{item.amount_departure}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pending">
                            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="pending">
                                POR SURTIR</th>
                            <td mat-cell *matCellDef="let item;let i = index;" style="width:10%">
                                {{item.amount - item.amount_departure}}
                            </td>
                        </ng-container>
                    </table>
                </div><br>


            </mat-card>

        </mat-card>
        <mat-card *ngIf="error" class="colorSecondary">
            <div class="error">
                <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
                <h1>{{error_msg}}</h1>
            </div>
        </mat-card>


    </div>
</form>