<form [formGroup]="form">
  <mat-card *ngIf="!error">
    <mat-card-header class="primary" style="padding: 10px">
      <mat-icon style="font-size: 20px">monetization_on</mat-icon>
      <span> ASIGNAR PAGO A NOTA DE VENTA </span>
      <div class="item-spacer"></div>
      <span class="icon-close-modal" (click)="closeDialog()">&#10008;</span>
    </mat-card-header>

    <mat-card-content class="card-content" *ngIf="!loading">
      <mat-grid-list cols="12" rowHeight="80px">
        <mat-grid-tile [colspan]="12" [rowspan]="1">
          <div>
            <span class="text-money">FALTANTE: </span>
            <span class="total_pay">{{
              data.total - total_pay | currency : "2" : "$"
            }}</span>
          </div>
          <div class="item-spacer"></div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="80px">
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <p class="text-money">FOLIO: {{ data.number }}</p>
          <div class="item-spacer"></div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>PAGOS</mat-label>
            <mat-select
              [formControl]="paymentsCtrl"
              #singleSelect
              name="paymentsCtrl"
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Buscar..."
                  [formControl]="paymentsFilterCtrl"
                  noEntriesFoundLabel="SIN DATOS"
                >
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let payment of filteredPayments | async"
                [value]="payment"
              >
                {{ payment.number }} - [
                <span class="currency-dollars" *ngIf="data.is_dollars"
                  >USD</span
                >
                <span class="currency-mxn" *ngIf="!data.is_dollars">MXN</span>
                {{
                  payment.total - payment.total_in_use | currency : "2" : "$"
                }}
                ]
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <mat-form-field appearance="outline" floatLabel="always">
            <span matPrefix>$ &nbsp;</span>
            <mat-label>TOTAL</mat-label>
            <input
              matInput
              formControlName="total"
              class="input-money"
              type="number"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <div class="item-spacer"></div>
          <button
            type="button"
            (click)="createPaymentToSaleNote()"
            class="btnPrimary"
            [disabled]="form.invalid"
            style="height: 80%; margin-top: 10px"
            mat-raised-button
          >
            <mat-icon class="icon-size">save</mat-icon>GUARDAR
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-spinner
      diameter="50"
      *ngIf="loading"
      class="spinner"
      color="primary"
    ></mat-spinner>
  </mat-card>
  <mat-card *ngIf="error" class="colorSecondary">
    <div class="error">
      <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
      <h1>{{ error_msg }}</h1>
    </div>
  </mat-card>
</form>
