::ng-deep .mat-dialog-container {
    padding: 0px !important;
    border-radius: 10px !important;
}

.total_pay {
    background-color: rgb(13, 117, 62);
    color: aliceblue;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10%;
}

.total {
    background-color: var(--primary);
    color: aliceblue;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10%;
}

.saldo {
    background-color: rgb(117, 20, 13);
    color: aliceblue;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10%;
}

.text-money {
    color: var(--primary);
    font-weight: bolder;
    font-size: 14px;
}

.flex {
    display: flex;
    margin: 20px;
}