<mat-card *ngIf="!error">
    <mat-card-header class="primary" style="padding: 10px">
        <mat-icon style="font-size: 20px">receipt</mat-icon>
        <span> NOTAS DE VENTA </span>
    </mat-card-header>

    <div class="mat-elevation-z8">
        <div class="table-container">
            <div class="overlay-loading" *ngIf="loading">
                <div class="spinner-wrapper">
                    <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <ng-container matColumnDef="folio">
                    <th mat-header-cell class="primary" *matHeaderCellDef>FOLIO</th>
                    <td mat-cell *matCellDef="let item" style="width: 20%">
                        {{ item.number }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="comments">
                    <th mat-header-cell class="primary" *matHeaderCellDef>COMENTARIOS</th>
                    <td mat-cell *matCellDef="let item" style="width: 40%">
                        {{ item.comments }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell class="primary" *matHeaderCellDef>FECHA</th>
                    <td mat-cell *matCellDef="let item" style="width: 20%">
                        {{ item.date }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th class="primary" mat-header-cell *matHeaderCellDef>ACCIONES</th>
                    <td mat-cell *matCellDef="let item" style="width: 20%" style="text-align: center">
                        <a style="color: var(--document_three)" (click)="getDataSaleNotePDF(item)"
                            matTooltip="Nota de Venta">
                            <mat-icon class="custom-size-animation">receipt</mat-icon>
                        </a>
                    </td>
                </ng-container>
            </table>
        </div>
    </div>
</mat-card>
<mat-card *ngIf="error" class="colorSecondary">
    <div class="error">
        <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
        <h1>{{ error_msg }}</h1>
    </div>
</mat-card>