<mat-card *ngIf="!error">
    <mat-card-header class="primary" style="padding:10px">
        <mat-icon style="font-size:20px">library_books</mat-icon>
        <span> LISTA DE PRECIOS </span>
        <div class="item-spacer"></div>
        <span class="icon-close-modal" (click)="closeDialog()">&#10008;</span>
    </mat-card-header>


    <div class="mat-elevation-z8">
        <div class="table-container">
            <div class="overlay-loading" *ngIf="loading" inert>
                <div class="spinner-wrapper">
                    <mat-spinner diameter="50" class="spinner" color="primary"></mat-spinner>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" matSort>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- ID -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell class="primary" *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let item" style="width:10%"> {{item.id}} </td>
                </ng-container>

                <!-- Label -->
                <ng-container matColumnDef="label">
                    <th mat-header-cell class="primary" *matHeaderCellDef> LABEL </th>
                    <td mat-cell *matCellDef="let item" style="width:10%"> {{item.label}} </td>
                </ng-container>

                <!-- Descripción -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell class="primary" *matHeaderCellDef> DESCRIPCION </th>
                    <td mat-cell *matCellDef="let item" style="width:40%"> {{item.description}} </td>
                </ng-container>

                <!-- Porcentaje -->
                <ng-container matColumnDef="porcentage">
                    <th mat-header-cell class="primary" *matHeaderCellDef> PORCENTAJE </th>
                    <td mat-cell *matCellDef="let item" style="width:20%;"> {{item.porcentage}}% </td>
                </ng-container>

                <!-- Agregar Producto -->
                <ng-container matColumnDef="select">
                    <th class="primary" mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let item" style="width:10%; text-align: center;">
                      <a *ngIf="!item.isSelected; else check_box" (click)="selectProduct(item, true)">
                        <mat-icon class="custom-size-animation">check_box_outline_blank</mat-icon>
                      </a>
                      <ng-template #check_box>
                        <a style="color:var(--primary)" (click)="selectProduct(item, false)">
                          <mat-icon class="custom-size-animation">check_box</mat-icon>
                        </a>
                      </ng-template>
                    </td>
                </ng-container>
            </table>

        </div>
    </div>
</mat-card>


<!-- 0 : description : "Precios a noviembre 2023" id : 1 id_company : 1 isSelected : false label : "AGA" porcentage : 47.83 status: 1 uniqueId : "product-0-1" -->