<mat-toolbar class="title">
    <button mat-icon-button class="textColor" type="button" (click)="cancel()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>ENTRADAS</span>
    <div class="item-spacer"></div>
    <button type="button" (click)="getCertDataPDF()" class="btnPrimary" style="height:80%; margin-top: 10px; "
        mat-raised-button>
        <mat-icon class="icon-size">verified_user</mat-icon>CERTIFICADO
    </button>
    <button type="button" (click)="getTagsDataPDF()" class="btnPrimary" style="height:80%; margin-top: 10px; "
        mat-raised-button>
        <mat-icon class="icon-size">print</mat-icon>VER ETIQUETAS
    </button>

</mat-toolbar> <br>

<div class="secondary">
    <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>

</div>
<div class="container">
    <mat-card class="card" *ngIf="!error && !loading">

        <mat-grid-list cols="12" rowHeight="70px">
            <mat-grid-tile [colspan]="12" [rowspan]="1">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>BUSCAR</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
                <div class="item-spacer"></div>
            </mat-grid-tile>

        </mat-grid-list>
        <div class="mat-elevation-z8">
            <div class="table-container">
                <div class="overlay-loading" *ngIf="loading">
                    <div class="spinner-wrapper">
                        <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSourceInventory" matSort>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInventory; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInventory;"></tr>
                    <ng-container matColumnDef="number">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="number"> NUMERO
                        </th>
                        <td mat-cell *matCellDef="let item" style="width:15%"> {{item.number}} </td>
                    </ng-container>
                    <ng-container matColumnDef="batch">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="batch"> LOTE
                        </th>
                        <td mat-cell *matCellDef="let item" style="width:15%"> {{item.batch}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="date"> FECHA Y HORA
                        </th>
                        <td mat-cell *matCellDef="let item" style="width:20%"> {{item.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="status"> STATUS
                        </th>
                        <td mat-cell *matCellDef="let item" style="width:20%"> {{item.status}} </td>
                    </ng-container>
                </table>
            </div>

        </div>
    </mat-card>

    <mat-card *ngIf="error" class="colorSecondary">
        <div class="error">
            <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
            <h1>{{error_msg}}</h1>
        </div>
    </mat-card>


</div>