<form [formGroup]="form" (ngSubmit)="createSample()">

    <mat-toolbar class="title">
        <button mat-icon-button class="textColor" type="button" (click)="cancel()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>MUESTREO</span>
        <div class="item-spacer"></div>
        <button type="submit" class="btnPrimary" [disabled]="loading" style="height:80%; margin-top: 10px;"
            mat-raised-button>
            <mat-icon class="icon-size">save</mat-icon>GUARDAR
        </button>
        <button type="button" (click)="delete()" class="btnPrimary" [disabled]="loading"
            style="height:80%; margin-top: 10px; background-color: #980000;" mat-raised-button>
            <mat-icon class="icon-size">delete</mat-icon>ELIMINAR ENTRADA
        </button>
    </mat-toolbar><br>
    <div class="container">
        <div class="secondary" *ngIf="loading" style="text-align: center;">
            <h1>{{this.message_wait}}</h1>
            <mat-spinner diameter="50" class="spinner" color="primary">
            </mat-spinner>
        </div>
        <mat-card class="card" *ngIf="!error && !loading">

            <mat-grid-list cols="12" rowHeight="70px">
                <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>CODIGO</mat-label>
                        <input [readonly]="true" matInput formControlName="code">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>DESCRIPCION</mat-label>
                        <input [readonly]="true" matInput formControlName="description">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="colMedium" [rowspan]="2">
                    <div class="block">
                        <div class="block">
                            <span class="tag">MUESTRAS FALTANTES</span>
                        </div><br>
                        <div class="block center">
                            <span class="number">{{entry.number_samples -
                                entry.completed_samples
                                }}</span>

                        </div>

                    </div>

                </mat-grid-tile>

                <mat-grid-tile [colspan]="colMedium" [rowspan]="2">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>COMENTARIOS</mat-label>
                        <textarea matInput formControlName="comments" placeholder="Información..." rows="5"></textarea>
                        <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="colMedium" [rowspan]="1" *ngIf="entry.id_type_entry == 2">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <input name="file" matInput formControlName="invoice_attachment" [readonly]="true">
                        <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
                        <mat-label>FACTURA</mat-label>
                    </mat-form-field>
                    <button type="button" class="btnPrimary" mat-raised-button (click)="imageInput.click()">
                        <mat-icon class="icon-size">folder</mat-icon>
                    </button>
                    <input accept=".jpg, .png, .pdf" hidden (change)="changeImage($event)" #imageInput type="file"
                        id="file">
                </mat-grid-tile>





                <mat-grid-tile [colspan]="colMedium" [rowspan]="1" *ngIf="entry.id_type_entry == 2">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>NUMERO DE FACTURA</mat-label>
                        <input matInput formControlName="invoice_number">
                        <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>


            </mat-grid-list>


            <div class="mat-elevation-z8">
                <div class="table-container-entry">
                    <div class="overlay-loading" *ngIf="loading">
                        <div class="spinner-wrapper">
                            <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSourceComputerTable" matSort>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsComputerTable; sticky: true">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsComputerTable;"></tr>
                        <ng-container matColumnDef="type">
                            <th mat-header-cell class="primary" *matHeaderCellDef>
                                TIPO </th>
                            <td mat-cell *matCellDef="let item" style="width:20%"> {{item.type}} </td>
                        </ng-container>
                        <ng-container matColumnDef="characteristics">
                            <th mat-header-cell class="primary" *matHeaderCellDef>
                                CARACTERISTICAS </th>
                            <td mat-cell *matCellDef="let item" style="width:35%">
                                {{item.characteristics}} </td>
                        </ng-container>
                        <ng-container matColumnDef="units">
                            <th mat-header-cell class="primary" *matHeaderCellDef>
                                UNIDAD </th>
                            <td mat-cell *matCellDef="let item" style="width:25%"> {{item.units}} </td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th mat-header-cell class="primary" *matHeaderCellDef>
                                VALOR </th>
                            <td mat-cell *matCellDef="let item" style="width:20%"><input class="custom-input"
                                    [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]="item.value">
                            </td>
                        </ng-container>
                    </table>
                </div>
            </div>

        </mat-card>
        <mat-card *ngIf="error && !loading" class="colorSecondary">
            <div class="error">
                <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
                <h1>{{error_msg}}</h1>
            </div>
        </mat-card>


    </div>
</form>