<mat-toolbar class="title">
  <button mat-icon-button class="textColor" type="button" (click)="cancel()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <span>ENTREGA</span>
</mat-toolbar>
<br />
<div class="secondary">
  <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
</div>
<div class="container">
  <mat-card class="colorSecondary card" *ngIf="!error && !loading">
    <mat-card class="mat-elevation-z8 card-prop" style="padding: 0%; margin-bottom: 20px">
      <mat-card-header class="primary" style="padding: 10px">
        <mat-icon style="font-size: 20px">shopping_cart</mat-icon>
        <span> ENTREGA </span>
      </mat-card-header>
      <mat-grid-list cols="12" rowHeight="80px">
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>NUMERO</mat-label>
            <input [readonly]="true" matInput [(ngModel)]="delivery.number" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="colBig" [rowspan]="1">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>FECHA Y HORA</mat-label>
            <input [readonly]="true" matInput [(ngModel)]="delivery.date" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <mat-card class="mat-elevation-z8 card-prop" style="padding: 0%; margin-bottom: 20px">
      <mat-card-header class="primary" style="padding: 10px">
        <mat-icon style="font-size: 20px">widgets</mat-icon>
        <span> CLIENTES </span>
      </mat-card-header>
      <div class="table-container-small" style="height: auto; width: 99%; margin: 0 auto">
        <table mat-table [dataSource]="dataSource" matSort>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <ng-container matColumnDef="client">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="client">
              CLIENTE
            </th>
            <td mat-cell *matCellDef="let item" style="width: 25%">
              {{ item.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="date"> FECHA
            </th>
            <td mat-cell *matCellDef="let item" style="width: 25%">
              <span *ngIf="item.deliveries_finished.length > 0">
                {{ item.deliveries_finished[0].date }}</span>
              <span *ngIf="item.deliveries_finished.length == 0"> N/A</span>
            </td>
          </ng-container><ng-container matColumnDef="address">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="address"> DIRECCIÓN
            </th>
            <td mat-cell *matCellDef="let item" style="width: 20%">
              #{{ item.num_ext }} {{ item.address }}, {{ item.municipality }}.
              C.P: {{ item.postal_code }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="status"> STATUS
            </th>
            <td mat-cell *matCellDef="let item" style="width: 15%">
              <span *ngIf="item.deliveries_finished.length > 0">
                ENTREGADO</span>
              <span *ngIf="item.deliveries_finished.length == 0">
                EN PROCESO</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell class="primary" *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let item" style="width: 10%; text-align: right; margin-right: 5px">
              <a style="color: var(--document_two)" (click)="openSalesNotes(item.sales_notes)"
                matTooltip="Notas de Venta">
                <mat-icon class="custom-size-animation">receipt</mat-icon>
              </a>
            </td>
          </ng-container>
        </table>
      </div>
      <br />
    </mat-card>
    <mat-card *ngIf="error" class="colorSecondary">
      <div class="error">
        <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
        <h1>{{ error_msg }}</h1>
      </div>
    </mat-card>