.page-not-found {
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    color: var(--primary);
    opacity: 0.5;

}

.back-to-home {
    margin-left: 20px;
    font-size: 20px;

    color: var(--primary);
}