<form [formGroup]="form" (ngSubmit)="createUser()">
  <mat-toolbar class="title">
    <button mat-icon-button class="textColor" type="button" (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>USUARIO</span>
    <div class="item-spacer"></div>
    <button type="submit" [ngClass]="{'btnPrimary':true, 'blink_me' : !form.invalid }" [disabled]="form.invalid"
      style="height:80%; margin-top: 10px;" mat-raised-button>
      <mat-icon class="icon-size">save</mat-icon>GUARDAR
    </button>
  </mat-toolbar> <br>
  <div class="container">
    <div class="secondary">
      <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
    </div>
    <mat-card *ngIf="!loading && !error" class="card colorSecondary">
      <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">receipt</mat-icon>
          <span>
            DATOS DE USUARIO
          </span>
        </mat-card-header>

        <mat-grid-list cols="12" rowHeight="80px">

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>NOMBRE</mat-label>
              <input matInput name="name" formControlName="name">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CORREO</mat-label>
              <input matInput name="email" formControlName="email">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CONTRASEÑA</mat-label>
              <input matInput name="password" formControlName="password">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>USUARIO</mat-label>
              <input matInput name="username" formControlName="username">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>TELEFONO</mat-label>
              <input matInput name="telephone" formControlName="telephone" [maxlength]="10" [minlength]="10">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>ROL</mat-label>
              <mat-select [formControl]="rolsCtrl" #singleSelect name="rolsCtrl" required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="rolsFilterCtrl"
                    noEntriesFoundLabel="SIN DATOS">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let rol of filteredRols | async" [value]="rol">
                  {{rol.rol}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colMedium" [rowspan]="3">
            <div class="center-image">
              <img [src]="imageTemp" height="150" class="logo"> <br>
              <span>{{imageName}}</span>
              <div class="overlay">
                <div class="text">
                  <button type="button" (click)="imageInput.click()" class="btnSecondary" mat-raised-button>
                    <mat-icon class="icon-size">cloud_upload</mat-icon>SUBIR FIRMA
                  </button>
                </div>
              </div>
            </div>
            <input accept=".jpg, .png, .JPEG" hidden (change)="changeImage($event)" #imageInput type="file" id="file">
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-card>
    <mat-card *ngIf="error" class="colorSecondary">
      <div class="error">
        <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
        <h1>{{error_msg}}</h1>
      </div>
    </mat-card>
  </div>
</form>