<mat-card>
    <mat-card-header class="headerPrimary" style="padding:10px">
        <mat-icon style="font-size:20px">library_books</mat-icon>
        <span>
            TABLA INFORMATICA
        </span>
    </mat-card-header>
    W
    <div class="mat-elevation-z8">

    </div>
    <mat-dialog-actions>
        <div class="item-spacer"></div>
        <button type="button" mat-dialog-close style="margin: 5px ;" mat-raised-button color="basic">
            <mat-icon class="size-icon">close</mat-icon>CERRAR
        </button>
    </mat-dialog-actions>
</mat-card>