<mat-grid-list cols="12" rowHeight="80">
    <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>BUSCAR</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </mat-grid-tile>

</mat-grid-list>
<div class="mat-elevation-z8">
    <div class="table-container">
        <div class="overlay-loading" *ngIf="loading">
            <div class="spinner-wrapper">
                <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <ng-container matColumnDef="folio">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="folio">
                    FOLIO </th>
                <td mat-cell *matCellDef="let item" style="width:15%"> {{item.number}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="date">
                    FECHA DE SOLICITUD </th>
                <td mat-cell *matCellDef="let item" style="width:15%"> {{item.date}} </td>
            </ng-container>
            <ng-container matColumnDef="store">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="store">
                    ALMACEN </th>
                <td mat-cell *matCellDef="let item" style="width:15%"> {{item.store}} </td>
            </ng-container>
            <ng-container matColumnDef="productor">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="productor">
                    SOLICITANTE </th>
                <td mat-cell *matCellDef="let item" style="width:20%">{{item.productor}} </td>
            </ng-container>
            <ng-container matColumnDef="comments">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="comments">
                    COMENTARIOS </th>
                <td mat-cell *matCellDef="let item" style="width:20%"> {{item.comments_global}}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="status">
                    STATUS </th>
                <td mat-cell *matCellDef="let item" style="width:15%;  ">
                    {{item.status}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell class="primary" *matHeaderCellDef>
                    ACCIONES </th>
                <td mat-cell *matCellDef="let item" style="width:10%; text-align: right;">

                    <a class="btnAction" style="color:rgb(87, 18, 144)" (click)="openRequisitionHistory(item)"
                        matTooltip="HISTORIAL DE REQUISICIÓN">
                        <mat-icon class="custom-size-animation">history</mat-icon>
                    </a>
                </td>
            </ng-container>
        </table>
    </div>
</div>