<mat-toolbar class="title">
    <span>REQUISICIONES DE FABRICACIÓN</span>
    <div class="item-spacer"></div>
    <button mat-raised-button class="btnPrimary" style="height:80%; margin-top: 10px;" (click)="createRequisition()">
        <mat-icon class="icon-size">add</mat-icon>AGREGAR
    </button>

</mat-toolbar><br>

<div class="container" *ngIf="!loading">
    <mat-card class="card" *ngIf="!error">
        <mat-grid-list cols="12" rowHeight="70px">
            <mat-grid-tile [colspan]="colBig" [rowspan]="1">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>BUSCAR</mat-label>
                    <input matInput (keyup)="applyFilter()" [(ngModel)]="valueSearch" #input>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>STATUS</mat-label>
                    <mat-select [disabled]="loading" [(ngModel)]="idType" (ngModelChange)="changeStatus()">
                        <mat-option value="1">PENDIENTES</mat-option>
                        <mat-option value="3">TERMINADO</mat-option>
                        <mat-option value="4">RECHAZADO</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="mat-elevation-z8">
            <div class="table-container-pagination">

                <table mat-table [dataSource]="dataSourceRequisitions" matSort>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRequisitions; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRequisitions;"></tr>
                    <ng-container matColumnDef="folio">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="folio">
                            FOLIO </th>
                        <td mat-cell *matCellDef="let item"
                            [ngClass]="{'automatic': item.id_order != 0, 'manual' : item.id_order == 0 }  ">
                            {{item.number}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="date">
                            FECHA DE SOLICITUD </th>
                        <td mat-cell *matCellDef="let item"> {{item.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="store">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="store">
                            ALMACEN </th>
                        <td mat-cell *matCellDef="let item"> {{item.store}} </td>
                    </ng-container>
                    <ng-container matColumnDef="productor">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="productor">
                            SOLICITANTE </th>
                        <td mat-cell *matCellDef="let item">{{item.productor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comments">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="comments">
                            COMENTARIOS </th>
                        <td mat-cell *matCellDef="let item"> {{item.comments_global}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="status">
                            STATUS </th>
                        <td mat-cell *matCellDef="let item">
                            <button type="button" [class]="getClassToButton(item.id_status)"
                                style="margin-top: 5px; width: 100%;" mat-raised-button
                                [matTooltip]="getNextStage(item.id_status)" (click)="nextStage(item)">
                                {{item.status}} <mat-icon *ngIf="item.id_status == 1" class="icon-size">
                                    arrow_forward</mat-icon>
                                <mat-icon *ngIf="item.id_status == 2 " class="icon-size">
                                    manage_history</mat-icon>
                                <mat-icon *ngIf="item.id_status == 3" class="icon-size">done</mat-icon>
                                <mat-icon *ngIf="item.id_status == 4" class="icon-size">close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell class="primary" *matHeaderCellDef>
                            ACCIONES </th>
                        <td mat-cell *matCellDef="let item" style=" text-align: right;">
                            <a class="btnAction" (click)="openDetailRequisition(item)" style="color:var(--primary)"
                                matTooltip="DETALLE DE PRODUCTOS">
                                <mat-icon class="custom-size-animation">visibility</mat-icon>
                            </a>
                            <a class="btnAction" (click)="openRequisitionHistory(item)"
                                style="color:var(--document_three)" matTooltip="HISTORIAL DE REQUISICIÓN">
                                <mat-icon class="custom-size-animation">history</mat-icon>
                            </a>
                            <a *ngIf="item.id_status == 1" class="btnAction" style="color:var(--error)"
                                (click)="reject(item)" matTooltip="RECHAZAR">
                                <mat-icon class="custom-size-animation">close</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                </table>
            </div>
            <div style="display: flex;">
                <div class="item-spacer"></div>
                <app-total-tag [total]="quantity_manual" [label]="'MANUALES'" [colorLabel]="'var(--document_two)'"
                    [isCurrency]="false"></app-total-tag>
                <app-total-tag [total]="quantity_automatic" [label]="'AUTOMATICAS'"
                    [colorLabel]="'var(--document_three)'" [isCurrency]="false"></app-total-tag>
                <app-pagination [loading]="loading" (numberPageEmitter)="changePage($event)" [numberPage]="numberPage"
                    [labelPage]="totalPages"></app-pagination>
            </div>
        </div>
    </mat-card>

    <mat-card *ngIf="error" class="colorSecondary">
        <div class="error">
            <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
            <h1>{{error_msg}}</h1>
        </div>
    </mat-card>

</div>
<div class="container" *ngIf="loading">
    <mat-card class="card">

        <mat-spinner diameter="50" class="spinner" style=" top: 40%;" color="primary"></mat-spinner>

    </mat-card>
</div>