<mat-toolbar class="title">
  <span>CLIENTES</span>
  <div class="item-spacer"></div>
  <button mat-raised-button class="btnPrimary" (click)="validateCSD()" style="height:80%; margin-top: 10px;">
    <mat-icon class="icon-size">add</mat-icon>AGREGAR
  </button>
</mat-toolbar> <br>
<div class="container">
  <mat-card class="card" *ngIf="!error">
    <mat-grid-list cols="12" rowHeight="70px">
      <mat-grid-tile [colspan]="colBig" [rowspan]="1">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>BUSCAR</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="item-spacer"></div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colMedium" [rowspan]="1">


        <button class="switch" mat-raised-button (click)="changeStateInactive(true)" [disabled]="isDisabled"
          *ngIf="!inactive" style="background-color:rgb(176, 35, 10);   color:aliceblue; width:95%; ">
          <mat-icon>close</mat-icon>VER INACTIVOS
        </button>

        <button class="switch" mat-raised-button (click)="changeStateInactive(false)" [disabled]="isDisabled"
          *ngIf="inactive" style="background-color:rgb(10, 176, 18); color:aliceblue; width:95%; ">
          <mat-icon>check</mat-icon> VER ACTIVOS
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="mat-elevation-z8">
      <div class="table-container">
        <div class="overlay-loading" *ngIf="loading">
          <div class="spinner-wrapper">

            <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Position Column -->

          <ng-container matColumnDef="number">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="number"> NUMERO </th>
            <td mat-cell *matCellDef="let client" style="width:10%"> {{client.number}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="name"> RAZON SOCIAL </th>
            <td mat-cell *matCellDef="let client" style="width:30%"> {{client.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="rfc">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="rfc"> RFC </th>
            <td mat-cell *matCellDef="let client" style="width:20%"> {{client.rfc}} </td>
          </ng-container>

          <ng-container matColumnDef="telephone">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="telephone"> TELEFONO </th>
            <td mat-cell *matCellDef="let client" style="width:10%"> {{client.telephone}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="email"> CORREO </th>
            <td mat-cell *matCellDef="let client" style="width:20%"> {{client.email == null? 'NA' : client.email}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell class="primary" *matHeaderCellDef>
              ACCIONES </th>
            <td mat-cell *matCellDef="let client" style="width:10%; text-align: right;">
              <a class="btnAction" routerLink="/dashboard/clients/edit-client/{{client.id}}"
                style="color:rgb(18, 98, 144)" matTooltip="EDITAR CLIENTE">
                <mat-icon class="custom-size-animation">edit</mat-icon>
              </a>
              <a class="btnAction" (click)="goToBalance(client)" style="color:var(--document_three)"
                matTooltip="BALANCE">
                <mat-icon class="custom-size-animation">balance</mat-icon>
              </a>
              <a *ngIf="inactive" class="btnAction" style="color:var(--sucsess)" (click)="restoreClient(client)"
                matTooltip="RESTAURAR CLIENTE">
                <mat-icon class="custom-size-animation">settings_backup_restore</mat-icon>
              </a>
              <a *ngIf="!inactive" class="btnAction" style="color:var(--error)" (click)="deleteClient(client)"
                matTooltip="DESACTIVAR CLIENTE">
                <mat-icon class="custom-size-animation">block</mat-icon>
              </a>
            </td>
          </ng-container>
        </table>
      </div>


    </div>
  </mat-card>

  <mat-card *ngIf="error" class="colorSecondary">
    <div class="error">
      <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
      <h1>{{error_msg}}</h1>
    </div>
  </mat-card>

</div>