<form [formGroup]="form" (ngSubmit)="create()">
    <mat-toolbar class="title">
        <button mat-icon-button class="textColor" type="button" (click)="cancel()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>ORDENES DE COMPRA</span>
        <div class="item-spacer"></div>
        <!-- <button type="button" class="btnOther" [disabled]="form.invalid" style="height:80%; margin-top: 10px;"
            mat-raised-button>
            <mat-icon class="icon-size">calculate</mat-icon>CALCULAR ORDENES DE COMPRA
        </button> -->

        <button type="submit" class="btnPrimary" [disabled]="loading" style="height:80%; margin-top: 10px;"
            mat-raised-button>
            <mat-icon class="icon-size">save</mat-icon>GUARDAR
        </button>
    </mat-toolbar> <br>

    <div class="secondary">
        <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>

    </div>
    <div class="container">
        <mat-card class="colorSecondary card" *ngIf="!loading && !error">
            <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
                <mat-card-header class="primary" style="padding:10px">
                    <mat-icon style="font-size:20px">inventory</mat-icon>
                    <span>
                        SELECCIONAR PRODUCTOS
                    </span>
                </mat-card-header>
                <mat-grid-list cols="12" rowHeight="70px">
                    <mat-grid-tile [colspan]="12" [rowspan]="1">
                        <div class="item-spacer"></div>
                        <button type="button" [disabled]="loading" *ngIf="!isRawMaterial"
                            (click)="changeTypeProducts(true)" class="btnSecondary" mat-raised-button>
                            <mat-icon class="icon-size">check_box_outline_blank</mat-icon>¿ES MATERIA PRIMA?
                        </button>
                        <button type="button" [disabled]="loading" *ngIf="isRawMaterial"
                            (click)="changeTypeProducts(false)" class="btnSecondary" mat-raised-button>
                            <mat-icon class="icon-size">check_box</mat-icon>¿ES MATERIA PRIMA?
                        </button>
                        <button type="button" class="btnPrimary" style="margin-right: 10px;" [disabled]="form.invalid"
                            mat-raised-button (click)="openCatalogProducts()">
                            <mat-icon class="icon-size">library_books</mat-icon>{{ textButtonOpenProducts}}
                        </button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="12" [rowspan]="5" style="top:0px;">
                        <div class="table-container-medium" style="top:-30px;">
                            <div class=" overlay-loading" *ngIf="loading">
                                <div class="spinner-wrapper">

                                    <mat-spinner diameter="50" *ngIf="loading" class="spinner"
                                        color="primary"></mat-spinner>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSourceProducts" matSort>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts; sticky: true">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts;">
                                </tr>

                                <ng-container matColumnDef="amount">
                                    <th mat-header-cell class="primary" *matHeaderCellDef>
                                        CANTIDAD</th>
                                    <td mat-cell *matCellDef="let item; let i = index;" style="width:15%">
                                        <input class="custom-input" [ngModelOptions]="{standalone: true}" type="number"
                                            [(ngModel)]="item.quantity" (ngModelChange)="updateValorsProduct(item)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="sub_total">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="sub_total">
                                        SUB TOTAL</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        {{item.sub_total}}</td>
                                </ng-container>
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="description">
                                        DESCRIPCIÓN</th>
                                    <td mat-cell *matCellDef="let item" style="width:20%">
                                        {{item.description}}</td>
                                </ng-container>


                                <ng-container matColumnDef="type">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="type">
                                        TIPO</th>
                                    <td mat-cell *matCellDef="let item" style="width:15%">
                                        {{item.type == 1 ? 'PRODUCTO TERMINADO': 'MATERIA PRIMA'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="inventory">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="inventory">
                                        EXISTENCIA</th>
                                    <td mat-cell *matCellDef="let item" style="width:15%">
                                        {{item.inventory}}</td>
                                </ng-container>

                                <ng-container matColumnDef="provider">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="provider">
                                        PROVEEDOR</th>
                                    <td mat-cell *matCellDef="let item" style="width:15%">
                                        {{item.provider}} <a class="btnAction" style="color:var(--secondary)"
                                            (click)="changeProvider(item)" matTooltip="CAMBIAR PROVEEDOR">
                                            <mat-icon class="custom-size-animation">edit</mat-icon>
                                        </a></td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell class="primary" *matHeaderCellDef>
                                        ACCIONES</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%; text-align: right;">

                                        <a class="btnAction" style="color:var(--error)" (click)="removeProduct(item)"
                                            matTooltip="ELIMINAR PRODUCTO">
                                            <mat-icon class="custom-size-animation">delete</mat-icon>
                                        </a>
                                    </td>
                                </ng-container>



                            </table>
                        </div>
                    </mat-grid-tile>

                </mat-grid-list>

            </mat-card>
            <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
                <mat-card-header class="primary" style="padding:10px">
                    <mat-icon style="font-size:20px">note_add</mat-icon>
                    <span>
                        ORDENES DE COMPRA
                    </span>
                </mat-card-header>
                <mat-grid-list cols="12" rowHeight="70px">
                    <mat-grid-tile [colspan]="12" [rowspan]="5" style="top:0px;">
                        <div class="table-container-medium" style="top:-30px;">
                            <div class="overlay-loading" *ngIf="loading">
                                <div class="spinner-wrapper">
                                    <mat-spinner diameter="50" *ngIf="loading" class="spinner"
                                        color="primary"></mat-spinner>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSourcePurchaseOrders" matSort>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsPurchaseOrders; sticky: true">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsPurchaseOrders;">
                                </tr>
                                <ng-container matColumnDef="store">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="store">
                                        SUCURSAL</th>
                                    <td mat-cell *matCellDef="let item; let i = index;" style="width:10%">
                                        <span class="btnError" *ngIf="item.id_store == 0"
                                            (click)="editPurchaseOrder(item)">
                                            FALTA SUCURSAL
                                        </span>
                                        <span *ngIf="item.id_store != 0">
                                            {{item.store}}
                                        </span>


                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="type">
                                        TIPO</th>
                                    <td mat-cell *matCellDef="let item; let i = index;" style="width:10%">
                                        {{item.id_type_inventory == 1 ? 'PRODUCTO TERMINADO': 'MATERIA PRIMA'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="comments">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="comments">
                                        COMENTARIOS</th>
                                    <td mat-cell *matCellDef="let item" style="width:20%">
                                        {{item.comments}}
                                </ng-container>
                                <ng-container matColumnDef="is_iva">
                                    <th mat-header-cell class="primary" *matHeaderCellDef>
                                        ¿CON IVA?</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        <a *ngIf="!item.is_iva; else check_box" style="color:rgb(130, 16, 12)"
                                            (click)="changeIVA(item, true)">
                                            <mat-icon class="custom-size-animation">check_box_outline_blank</mat-icon>
                                        </a>
                                        <ng-template #check_box><a style="color:var(--primary)"
                                                (click)="changeIVA(item, false)">
                                                <mat-icon class="custom-size-animation">check_box</mat-icon>
                                            </a></ng-template>
                                </ng-container>
                                <ng-container matColumnDef="iva">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="iva">
                                        IVA</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        {{item.iva}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="sub_total">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="sub_total">
                                        SUB TOTAL</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        {{item.sub_total}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="total">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="total">
                                        TOTAL</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        {{item.total}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="provider">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="provider">
                                        PROVEEDOR</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%">
                                        {{item.provider}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="actions">
                                        ACCIONES</th>
                                    <td mat-cell *matCellDef="let item" style="width:10%; text-align: right;">
                                        <a class="btnAction" style="color:var(--secondary);"
                                            (click)="editPurchaseOrder(item)" matTooltip="EDITAR ORDEN DE COMPRA">
                                            <mat-icon class="custom-size-animation">edit</mat-icon>
                                        </a>
                                        <a class="btnAction" style="color:var(--error);"
                                            (click)="removePurchaseOrder(item)" matTooltip="ELIMINAR ORDEN DE COMPRA">
                                            <mat-icon class="custom-size-animation">delete</mat-icon>
                                        </a>
                                    </td>
                                </ng-container>
                            </table>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </mat-card>
        <mat-card *ngIf="error" class="colorSecondary">
            <div class="error">
                <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
                <h1>{{error_msg}}</h1>
            </div>
        </mat-card>

    </div>
</form>