<mat-card>
    <mat-card-header class="primary" style="padding:10px">
        <mat-icon style="font-size:20px">library_books</mat-icon>
        <span>
            {{product}}
        </span>
        <div class="item-spacer"></div>
        <span class="icon-close-modal" (click)="closeDialog()">&#10008;</span>
    </mat-card-header>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>BUSCAR</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <div class="table-container-medium-two">
            <div class="overlay-loading" *ngIf="loading">
                <div class="spinner-wrapper">
                    <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <ng-container matColumnDef="number">
                    <th mat-header-cell class="primary" *matHeaderCellDef>
                        NUMERO </th>
                    <td mat-cell *matCellDef="let item" [mat-dialog-close]="item" style="width:33%">
                        {{item.number}}</td>
                </ng-container>
                <ng-container matColumnDef="batch">
                    <th mat-header-cell class="primary" *matHeaderCellDef>
                        LOTE </th>
                    <td mat-cell *matCellDef="let item" [mat-dialog-close]="item" style="width:33%">
                        {{item.batch}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell class="primary" *matHeaderCellDef>
                        STATUS </th>
                    <td mat-cell *matCellDef="let item" [mat-dialog-close]="item" style="width:33%">
                        {{item.status}}</td>
                </ng-container>

            </table>
        </div>
    </div>


</mat-card>