<form [formGroup]="form" (ngSubmit)="updateClient()">

  <mat-toolbar class="title">
    <button mat-icon-button class="textColor" type="button" (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>EDITAR CLIENTE</span>
    <div class="item-spacer"></div>
    <button type="submit" [ngClass]="{'btnPrimary':true, 'blink_me' : !form.invalid }" [disabled]="form.invalid"
      style="height:80%; margin-top: 10px;" mat-raised-button>
      <mat-icon class="icon-size">save</mat-icon> GUARDAR
    </button>
  </mat-toolbar> <br>



  <div class="container">
    <div class="secondary">
      <mat-spinner diameter="50" *ngIf="loading" class="spinner" color="primary"></mat-spinner>
    </div>
    <mat-card *ngIf="!loading && !error" class="card colorSecondary">
      <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">receipt</mat-icon>
          <span>
            DATOS FISCALES
          </span>
        </mat-card-header>

        <mat-grid-list cols="12" rowHeight="80px">

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>REGIMEN FISCAL</mat-label>
              <mat-select (selectionChange)="isValidSelect()" [formControl]="taxRegimesCtrl" #singleSelect
                name="taxRegimesCtrl" required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="taxRegimesFilterCtrl"
                    noEntriesFoundLabel="'Regimen no encontrado...'">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let tax_regime of filteredTaxRegimes | async" [value]="tax_regime">
                  [{{tax_regime.code}}] - {{tax_regime.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>NOMBRE COMERCIAL</mat-label>
              <input matInput name="tradename" formControlName="tradename">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>RAZÓN SOCIAL O NOMBRE</mat-label>
              <input matInput name="name" formControlName="name">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>R.F.C</mat-label>
              <input matInput name="rfc" [readonly]="rfcOnlyRead" [minlength]="minRFC" [maxlength]="maxRFC"
                formControlName="rfc">
              <mat-error *ngIf="form.invalid">Ingresar un RFC valido para el tipo de regimen</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CÓDIGO POSTAL</mat-label>
              <input matInput name="postal_code" (ngModelChange)="validatePostalCode()" formControlName="postal_code"
                [maxlength]="5" [minlength]="5" [readonly]="waitValidatePostalCode">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>COLONIA</mat-label>
              <mat-select [formControl]="suburbsCtrl" (selectionChange)="setStateAndMunicipality()" #singleSelect
                name="suburbsCtrl">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="suburbsFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let suburb of filteredSuburbs | async" [value]="suburb">
                  {{suburb.suburb}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>MUNICIPIO</mat-label>
              <mat-select [formControl]="municipalitiesCtrl" #singleSelect name="municipalitiesCtrl">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="municipalitiesFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let municipality of filteredMunicipalities | async" [value]="municipality">
                  {{municipality.municipality}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>ESTADO</mat-label>
              <mat-select [formControl]="statesCtrl" #singleSelect name="statesCtrl">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="statesFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                  {{state.state}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>DOMICILIO</mat-label>
              <input matInput formControlName="address" name="address">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colSmall" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>NUM. EXT</mat-label>
              <input matInput formControlName="num_ext" name="num_ext">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colSmall" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>NUM. INT</mat-label>
              <input matInput formControlName="num_int" name="num_int">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <mat-card class="mat-elevation-z8 card-prop" style="padding:0px; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">location_on</mat-icon>
          <span>
            DATOS GENERALES
          </span>
        </mat-card-header>
        <mat-grid-list cols="12" rowHeight="80px" style="padding:10px">
          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>NOMBRE</mat-label>
              <input matInput name="representative" formControlName="representative">
              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>TELEFONO</mat-label>
              <input matInput formControlName="telephone" maxlength="10" minlength="10" name="phone">
              <mat-error *ngIf="form.invalid">Ingresar una cadena de diez números</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CORREO</mat-label>
              <input matInput formControlName="email" name="email">
              <mat-error *ngIf="formContact.invalid">Ingresa un correo electronico correcto</mat-error>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>

      <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">attach_money</mat-icon>
          <span>
            OPCIONES DE PRECIO Y VENDEDOR
          </span>
        </mat-card-header>

        <mat-grid-list cols="12" rowHeight="80px">
          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>LISTA DE PRECIOS</mat-label>
              <mat-select [formControl]="listPricesCtrl" #singleSelect name="listPricesCtrl" required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="listPricesFilterCtrl"
                    noEntriesFoundLabel="SIN DATOS">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let listPrice of filteredListPrices | async" [value]="listPrice">
                  {{listPrice.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colBig" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>VENDEDOR </mat-label>
              <mat-select [formControl]="userCtrl" #singleSelect required>
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="userFilterCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let user of filteredUser | async" [value]="user">
                  {{user.name!}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

      </mat-card>
      <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">receipt</mat-icon>
          <span>
            COMENTARIOS Y CREDITO
          </span>
        </mat-card-header>

        <mat-grid-list cols="12" rowHeight="80px">



          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CREDITO</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input matInput formControlName="credit_limit" style="text-align:right;">
              <mat-error *ngIf="form.invalid">Ingresa números</mat-error>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="colMedium" [rowspan]="1">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>DÍAS DE CREDITO</mat-label>
              <input matInput formControlName="credit_days" style="text-align:right;">
              <mat-error *ngIf="form.invalid">Ingresa números</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="colMedium" [rowspan]="2">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>COMENTARIOS</mat-label>
              <textarea matInput formControlName="comments" rows="6"></textarea>

              <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>


        </mat-grid-list>
      </mat-card>

      <mat-card class="mat-elevation-z8 card-prop" style="padding:0%; margin-bottom: 20px;">
        <mat-card-header class="primary" style="padding:10px">
          <mat-icon style="font-size:20px">contact_phone</mat-icon>
          <span>
            DATOS DE CONTACTO
          </span>
        </mat-card-header>
        <mat-grid-list cols="12" rowHeight="80px">
          <form [formGroup]="formContact" (ngSubmit)="createContact()">

            <mat-grid-tile [colspan]="colBig" [rowspan]="1">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>NOMBRE</mat-label>
                <input matInput formControlName="name" name="name">
                <mat-error *ngIf="form.invalid">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="colBig" [rowspan]="3">
              <mat-list>

                <mat-label><b>TIPO DE CORREO:</b> </mat-label>

                <mat-radio-group formControlName="id_type_email" aria-labelledby="radio-group-label"
                  class="radio-group ">
                  <mat-list>
                    <mat-radio-button class="radio-button" value="1">
                      ¿QUIEN PAGA?
                    </mat-radio-button><br>
                    <mat-radio-button class="radio-button" value="2">
                      ¿QUIEN RECIBE?
                    </mat-radio-button><br>
                    <mat-radio-button class="radio-button" value="3">
                      ¿QUIEN COMPRA?
                    </mat-radio-button><br>
                    <mat-radio-button class="radio-button" value="6">
                      OTRO
                    </mat-radio-button><br>
                  </mat-list>
                </mat-radio-group>
              </mat-list>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="colBig" [rowspan]="1">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>TELEFONO</mat-label>
                <input matInput formControlName="telephone" maxlength="10" minlength="10" name="telephone">
                <mat-error *ngIf="form.invalid">Ingresar una cadena de diez números</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="colBig" [rowspan]="1">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>CORREO</mat-label>
                <input matInput formControlName="email" name="email">
                <mat-error *ngIf="formContact.invalid">Ingresa un correo electronico correcto</mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="12" [rowspan]="1">
              <div class="item-spacer"></div>
              <button type="submit" class="btnPrimary" [disabled]="formContact.invalid" style="margin: 5px ;"
                mat-raised-button>
                <mat-icon>add</mat-icon>AGREGAR CONTACTO
              </button>
              <div class="item-spacer"></div>
            </mat-grid-tile>

          </form>

          <mat-grid-tile [colspan]="12" [rowspan]="3">
            <div class="table-container-small">
              <div class="overlay-loading" *ngIf="loadingContacts">
                <div class="spinner-wrapper">

                  <mat-spinner diameter="50" *ngIf="loadingContacts" class="spinner" color="primary"></mat-spinner>
                </div>
              </div>
              <table mat-table [dataSource]="dataContacts" matSort>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsContacts; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsContacts;"></tr>


                <ng-container matColumnDef="name">
                  <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="name"> NOMBRE </th>
                  <td mat-cell *matCellDef="let contact" style="width:20%"> {{contact.name }} </td>
                </ng-container>


                <ng-container matColumnDef="email">
                  <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="email"> CORREO </th>
                  <td mat-cell *matCellDef="let contact" style="width:20%"> {{contact.email }} </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                  <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="telephone"> TELEFONO </th>
                  <td mat-cell *matCellDef="let contact" style="width:20%"> {{contact.telephone }} </td>
                </ng-container>


                <ng-container matColumnDef="type">
                  <th mat-header-cell class="primary" *matHeaderCellDef mat-sort-header="type"> TIPO </th>
                  <td mat-cell *matCellDef="let contact" style="width:10%"> {{contact.type}} </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                  <th mat-header-cell class="primary" *matHeaderCellDef>
                    ACCIONES </th>
                  <td mat-cell *matCellDef="let contact" style="width:10%; text-align: right;">
                    <a class="btnAction" style="color:rgb(193, 32, 32)" (click)="deleteContact(contact.id)"
                      matTooltip="ELIMINAR">
                      <mat-icon class="custom-size-animation">delete</mat-icon>
                    </a>
                  </td>
                </ng-container>


              </table>


            </div>

          </mat-grid-tile>

        </mat-grid-list>

      </mat-card>


    </mat-card>
    <mat-card *ngIf="error" class="colorSecondary">
      <div class="error">
        <mat-icon style="font-size: 50px" aria-hidden="false">lock</mat-icon>
        <h1>{{error_msg}}</h1>
      </div>
    </mat-card>









  </div>

</form>