.success-payment {
    background-color: rgb(138, 198, 228);
    color: black;
    font-weight: bolder;

}

.na {
    color: aliceblue;
    background-color: rgb(180, 4, 4);
    font-weight: bolder;
}